li {
    padding: 0;
    font-size: 20px;

    ul {
        margin-top: 0 !important;
    }
}

.custom-navbar {
    background-color: #444;
    /* Custom color */
    color: white;
    /* Text color */
    max-height: 75px;
}

.no-highlight {
    color: #4a4a4a;
    text-align: center;
    margin-top: 0.7em;
}


.card {
    height: 100%;
}

hr {
    margin: 1rem 0;
}

.printButton {
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
    /* Semi-transparent black background */
    padding: 10px;
    /* Adds some padding around the icon */
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    /* Adds a soft shadow to soften the edges */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    /* Smooth transition */

}

.printButton:hover {
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    /* Darker background on hover */
}

a {
    /* color: white; */
    /* Ensures the icon color is visible on dark backgrounds */
    transition: color 0.3s ease;
    /* Smooth transition for text color */
}

a:hover {
    color: #4a4a4a;
    /* Slightly lighter color on hover */
}