<!DOCTYPE html>
<html>
    {{- partial "printhead.html" . -}}

    <body>
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-md-6"
                    style="border-radius: 1%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h1 id="mainTitle" class="fw-bold"> {{ .Title }} </h1>
                                <p class="fst-italic mb-2"> {{ .Params.Author }}</p>
                                {{ partial "printmetadata.html" . }}
                                <p class="fst-italic mt-2"> {{ .Params.Tagline }}</p>
                            </div>
                            <div class="col-md-6">
                                <div class="float-end">
                                    <figure class="figure">
                                        <img class="figure-img img-fluid rounded" style="width: 128px; height: 128px;"
                                            src={{ printf "%s%s" .Site.BaseURL .Params.Recipe_image }}
                                            alt="Placeholder image">
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="mt-2 mb-4">
                    <div class="text-center">
                        {{ partial "printstatstable.html" . }}
                    </div>
                    <hr class="mt-4 mb-2">
                    <div class="content">
                        {{ .Content }}
                    </div>
                </div>
            </div>
        </div>
    </body>
    {{ partial "printscript.html" }}

</html>