{{ define "main" }}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 recipe-detail-card">
            <div class="d-flex justify-content-center recipe-image-bg">
                <figure class="figure">
                    <img class="figure-img img-fluid rounded" style="max-height: 512px;"
                        src="{{ .Params.Recipe_image | relURL }}" alt="{{ .Title }}">
                </figure>
                <div id="printButton" style="position: absolute; bottom: 0; right: 0;" class="rounded-circle">
                    {{ with .OutputFormats.Get "print" }}
                    <a href="{{ $.RelPermalink }}print/" target="_blank"><i
                            class="fas fa-print fa-2x m-3 printButton"></i></a>
                    {{ end }}
                </div>
            </div>

            <div class="text-center">
                <h1 class="fw-bold"> {{ .Title }}</h1>
                <p class="fst-italic"> {{ .Params.Author }}</p>
                <div class="text-end">
                    {{ partial "metadata.html" . }}
                </div>
                <hr>
            </div>
            <div class="text-center">
                {{ partial "statstable.html" . }}
            </div>
            <hr>
            <p class="fst-italic"> {{ .Params.Tagline }}</p>
            <div class="content">
                {{ .Content }}
            </div>
        </div>
    </div>
</div>
{{ partial "jsonld-recipe.html" . }}
{{ end }}