<nav class="navbar navbar-expand-lg navbar-dark custom-navbar bg-dark" data-bs-theme="dark" role="navigation"
    aria-label="main navigation">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ .Site.BaseURL }}">
            {{ with .Site.Params.logo }}
            <img src="{{ .filename | urlize | relURL }}" width="{{ .width }}" height="{{ .height }}">
            {{ else }}
            <h1 class="fs-1"><em>{{ .Site.Params.navText.text }}</em></h1>
            {{ end }}
        </a>
        <button class="navbar-toggler" id="navBarButton" type="button" data-bs-toggle="collapse"
            data-bs-target="#navBarMenu" aria-controls="navBarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navBarMenu" class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {{ range .Site.Menus.main }}
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="{{- .URL -}}">
                        {{ if .Pre }}
                        {{ $icon := printf "<i class=\"%s pe-2\"></i>" .Pre | safeHTML }}
                        {{- $icon -}}
                        {{ end }}
                        <span>{{ print .Name | safeHTML }}</span>
                    </a>
                </li>
                {{ end }}
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" id="searchTerm" type="search" placeholder="Search Recipes..."
                    aria-label="Search">
                <button id="searchButton" class="btn btn-secondary" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>