<div class="columns">
    <div class="column" style="border-right: 1px solid #dbdbdb; padding: 0px;">
        <i class="fas fa-concierge-bell"></i>
        <div></div>
        <p class="has-text-weight-bold">Servings</p>
        <div></div>
        {{ .Params.Servings | default ""}} {{ .Params.Servings_text | default "Servings"}}
    </div>
    <div class="column" style="border-right: 1px solid #dbdbdb; padding: 0px;">
        <i class="fas fa-hourglass-half"></i>
        <div></div>
        <p class="has-text-weight-bold">Prep time</p>
        <div></div>
        {{ .Params.Prep_time | default "---"}} Minutes
    </div>
    <div class="column" style="border-right: 1px solid #dbdbdb; padding: 0px;">
        <i class="fas fa-temperature-high"></i>
        <div></div>
        {{ if .Params.Cook }}
        <p class="has-text-weight-bold is-size-6">Cooking Time</p>
        {{ else }}
        <p class="has-text-weight-bold is-size-6">Cooling Time</p>
        {{ end }}
        <div></div>
        {{ .Params.Cook_time | default "---"}} {{ .Params.Cook_increment | default "Minutes"}}
        <div></div>
        {{ if .Params.Cook_temperature_degrees }}
        {{ if eq .Params.Cook_temperature_unit "F" }}
        {{ .Params.Cook_temperature_degrees  | default "---"}} &deg;F
        {{ else }}
        {{ .Params.Cook_temperature_degrees  | default "---"}} &deg;C
        {{ end }}
        {{ end }}
    </div>
    {{ if .Params.Calories }}
    <div class="column" style="padding: 0px;">
        <i class="fas fa-fire"></i>
        <div></div>
        <p class="has-text-weight-bold">Calories</p>
        <div></div>
        {{ .Params.Calories | default "---" }} Kcal
    </div>
    {{ end }}
</div>