<div id="searchResults" class="container d-none">
    <h4 class="h3"> Search results </h4>
    <div id="searchResultsCol" class="row">
        {{/* Search template will populate here */}}
    </div>
</div>
<script id="search-result-template" type="text/x-js-template">
    <div class="col-md-3 mb-4">
        <div class="result" id="summary-${key}">
            <div class="card h-100" style="border-radius: 1%;">
                <a href="${link}" class="d-flex flex-column text-decoration-none">
                    <div class="card-img-top fixed-image-container">
                        <figure class="figure m-0">
                            <img class="figure-img img-fluid fixed-image" style="border-radius: 3%;" src="${image}" alt="${title}">
                        </figure>
                    </div>
                    <div class="card-body d-flex flex-column justify-content-between flex-grow-1 overflow-hidden">
                        <div class="media-body">
                            <p class="h4 text-center no-highlight">${title}</p>
                        </div>
                        <div class="content">
                            <hr>
                            <p class="small no-highlight">${snippet}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</script>