{{ define "main" }}
<div class="container my-5">
    <div class="row">
        {{ range .Pages.ByPublishDate.Reverse }}
        {{ $.Scratch.Set "relLink" .RelPermalink }}
        <div class="col-md-3">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        <a class="h5" href="{{ .RelPermalink }}">{{ .Title }}</a>
                        <i class="fas fa-tags ps-3 pb-3"></i>
                    </p>
                    <div class="pt-4 pe-2">
                        {{ $.Scratch.Set "category" .Title }}
                        {{ range $name, $taxonomy := .Site.Taxonomies }}
                        {{ range $key, $value := $taxonomy }}
                        {{ if (eq $key ($.Scratch.Get "category")) }}
                        {{ $.Scratch.Set "count" (len $value) }}
                        {{ if (gt (len $value) 1 ) }}
                        {{ len $value }} Recipes Found
                        {{ else }}
                        1 Recipe Found
                        {{ end }}
                        {{ end }}
                        {{ end }}
                        {{ end }}
                    </div>
                </header>
                <div class="card-body">
                    <div class="content">
                        {{ $.Scratch.Set "category" .Title }}
                        {{ range $name, $taxonomy := .Site.Taxonomies }}
                        {{ range $key, $value := $taxonomy }}
                        {{ if (eq $key ($.Scratch.Get "category")) }}
                        {{ range first 5 $value.Pages }}
                        <li><a href="{{ .Permalink}}"> {{ .LinkTitle }}</a></li>
                        {{ end }}
                        {{ if (gt (len $value) 5) }}
                        <a href={{ $.Scratch.Get "relLink" }}>See All</a>
                        {{ end }}
                        {{ end }}
                        {{ end }}
                        {{ end }}
                        <a class="summary" href="{{ .RelPermalink }}">
                            <p>{{ .Summary }}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}